In [2]:
from bs4 import BeautifulSoup as soup
from requests import get
import pandas as pd
import requests
import re

ImportError: DLL load failed while importing _multiarray_umath: The specified module could not be found.

ImportError: numpy._core.multiarray failed to import

In [ ]:
page=('https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page=3&_=1719821433211')

In [ ]:
response = requests.get('https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?budget=,&page=3')

In [ ]:
response.text

In [ ]:
title=[]
location=[]
price=[]
price_per_sqft=[]
area_in_sqft=[]
building_status=[]

In [ ]:
n_pages = 0
for page in range(3,5):  #The no. of pages you wanted to scrap considering pages available in the url.
    n_pages += 1
    url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?budget=,'+'&page='+str(page)
    # This for gets us into next page after every iteration.
    r = requests.get(url) # Here r is response data.
    page_html = soup(r.text, 'html.parser')
    house_containers = page_html.find_all("li",class_="cardholder") # Class containing overall data of a property.
    for data in house_containers:
################################   TITLE   ########################################

        type_=data.find_all("a",class_="typelink") # Class containing title name of a property.
        for i in type_:
            d=i.text
            title.append(d) # Appending the extracted data into a list.

################################ LOCATION  #######################################

        location_=data.find_all("a",class_="loclink")
        for i in location_:
            d=i.text
            r= d.split(',',)[0] # Splitting the obtained text and returning the first element of text.
            location.append(r)

################################    PRICE    ######################################

        cost=data.find_all("td",class_="price")
        for i in cost:
            d=i.text
            if 'L' in d:
                a = d.split()[0]
                price.append(float(a)) # Type conversion of obtained data.
            elif 'Cr' in d:
                b = d.split()[0]
                price.append(float(b) * 100) # Coverting CRORES into LAKHS.
            else:  # If no value found in the class return value 0.
                e=0
                price.append(float(e))

############################   PRICE PER SQFT   ###################################

        rate_sqft=data.find_all('td',class_="lbl rate")
        for i in rate_sqft:
            d=i.text
            res= d.split('/',)[0]
            r=re.sub(",","" ,res) # Substitute no character in the place of ,(comma).
            price_per_sqft.append(r)

############################   AREA IN SQFT    ####################################

        area_sqft=data.find_all('td',class_="size")
        for i in area_sqft:
            d=i.text
            area_in_sqft.append(d)

##########################   BUILDING STATUS    ###################################

        building_status_=data.find_all("td",class_="val")
        for i in building_status_:
            d=i.text
            building_status.append(d)

###################################################################################
print('You scraped {} pages containing {} properties.'.format(n_pages, len(title)))
# Returns the number of pages scrapped and time taken for scarpping those pages.

In [ ]:
# Defining a dataframe.

df=pd.DataFrame()

In [ ]:

df['title']=title 
df['location']=location
df['price(L)']=price
df['rate_persqft']=price_per_sqft
df['area_insqft']=area_in_sqft
df['building_status']=building_status

In [ ]:

d=df.to_csv('Hyderbad_House_price.csv')

In [ ]:
d1=pd.read_csv("Hyderbad_House_price.csv")

In [ ]:
import pandas as pd

In [ ]:
!pip install pandas

In [ ]:
d1.shape

In [ ]:
d1.head()

In [ ]:
d1.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [ ]:
d1.keys()

In [ ]:
d1.dtypes

In [ ]:
d2=d1.drop_duplicates()

In [ ]:
d2.shape

In [ ]:
# Drop a specific column
d3=d2.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
# List all columns
columns = d2.columns

# Print the list of columns
print(columns)

In [ ]:
d2.info

In [ ]:
null_values = d2.isnull().any().any()

if null_values:
    print("There are null values in the dataset.")
else:
    print("There are no null values in the dataset.")

In [ ]:
d2.info()

In [ ]:
d2.tail()

In [ ]:
d2.nunique()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle


X = d2.iloc[:, 0:4]
y = d2.iloc[:, 4:]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

lr = LinearRegression()
lr.fit(X_train, y_train)

pickle.dump(lr, open('model.pkl', 'wb'))

In [ ]:
!pip install pandas